.character-container {
    max-width: 1200px;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Allow wrapping */
    color: #fff;
}

header {
    margin:30px 0px;
    color:white;
    text-align: center;
}

.character-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.character-search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.character-search-form input {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.character-search-form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s ease;
}

.character-search-form button:hover {
    background-color: #ad1a28;
}

button.disabled {
    opacity: 0.5; /* Make it semi-transparent */
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
    pointer-events: none; /* Prevent any mouse events */
}


.character-create-btn-p {
    color:gray;
}

.character-create-btn {
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color:rgb(190, 190, 190);
    cursor: pointer;
    font-weight: bold;
}

.character-list {
    margin-top: 20px;
    display: block;
    overflow-x: auto; /* Allow horizontal scroll if needed */
    width: 100%; /* Make sure it uses available space */
}

.character-list table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px; /* Prevent columns from squishing, adjust as needed */
    margin: 0 auto;
}

.character-list th,
.character-list td {
    height: 34px;
    text-align: center; /* Center text in table cells */
    padding: 8px;
    border: 1px solid #5f5f5f; /* Optional: add borders to cells */
}

.character-list th {
    background-color: #585858; /* Optional: add a background color for the header */
}
.character-list tr {
    background-color: rgb(31, 31, 31);
}
.character-list tr:nth-child(even) {
    background-color: rgb(47, 47, 47); /* Optional: striping for rows */
}

.character-pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin-top: 20px;
}

.character-pagination-controls button {
    padding: 8px 16px;
    font-size: 16px;
    margin: 0 5px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.character-pagination-controls button:hover {
    background-color: #ad1a28;
}
