.back-button {
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;

    background: linear-gradient(153deg, rgba(220,53,69,1) 0%, rgba(255,125,137,1) 95%, rgba(255,255,255,1) 100%);
    overflow: hidden;

    color: rgb(255, 255, 255);
    padding: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -20px;
    left: -20px;
    transition: background-position 1s ease; /* Smooth transition */
    background-size: 200%; /* Double size to create movement */
    background-position: left; /* Start position */
  }
  @keyframes shine {
    0% {
      transform: translateX(-30px) rotate(-25deg);
    }
    
    100% {
      transform: translateX(250px) rotate(-25deg);
    }
  }
  .back-button:hover::after {
    content: '';
    display: block;
    width: 40px;
    height: 175%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 25%, rgba(255,255,255,.4) 50%, rgba(255,255,255,.6) 75%, rgba(255,255,255,0) 100%);
    opacity: 0.5;
    position: absolute;
    top: -25px;
    left: 0;
    animation: shine 1s linear;
    transform: translateX(40px) rotate(-25deg);
  }



  .row button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.row button:hover {
    background-color: #0056b3;
}